/* Global area */
*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	
}
/* Global area */
.head {
	background-color: skyblue;
	/*margin: 0 auto;*/
	text-align: center;
	font-weight: bold;
}
.accor{
	background-color: skyblue;
	/*margin: 0 auto;*/
	text-align: center;
	font-weight: bold;

}
.fill{
	background-color: skyblue;
	/*margin: 0 auto;*/
	text-align: center;
	font-weight: bold;

}
.jumbo{
	background-color: skyblue;
	/*margin: 0 auto;*/
	text-align: center;
	font-weight: bold;

}
.list{
	background-color: skyblue;
	/*margin: 0 auto;*/
	text-align: center;
	font-weight: bold;

}

